openapi: 3.1.0
info:
  title: Award Monitoring & Tracking System API
  version: 1.0.0
  description: |
    RESTful API for enterprise award monitoring and tracking platform.
    
    ## Authentication
    The application is its own OAuth 2.1 / OpenID Connect provider. Browser clients obtain tokens through the
    authorization code flow with PKCE and send `Authorization: Bearer <access token>` on every `/api` request.
    
    ## Rate Limiting
    - Standard users: 1000 requests/hour
    - Admin users: 5000 requests/hour
    
    ## Response Formats
    All responses are JSON. Dates are ISO 8601 format (UTC).
    
    ## Error Handling
    Errors follow RFC 7807 Problem Details format.
    
  contact:
    name: API Support
    email: support@award-system.edu.ua
    url: https://award-system.edu.ua/docs
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.award-system.edu.ua/v1
    description: Production server
  - url: https://staging-api.award-system.edu.ua/v1
    description: Staging server
  - url: http://localhost:8080/api/v1
    description: Local development

tags:
  - name: Authentication
    description: OAuth2 authentication and token management
  - name: Awards
    description: Award CRUD and submission operations
  - name: Workflows
    description: Award approval workflow management
  - name: Users
    description: User account management
  - name: Documents
    description: Document upload and management
  - name: Reports
    description: Analytics and reporting endpoints

paths:
  # ============== Authentication ==============
  # The application is an OAuth 2.1 / OpenID Connect provider (Spring Authorization Server).
  # The browser client `award-web` is public and uses the authorization code flow with PKCE.
  /oauth2/authorize:
    get:
      tags: [Authentication]
      summary: Start the authorization code flow
      description: |
        Redirects an anonymous user to the login page (`/login`, Ukrainian by default, `?lang=en` for English)
        and, once authenticated, back to `redirect_uri` with `code` and `state`.
      operationId: authorize
      parameters:
        - { name: response_type, in: query, required: true, schema: { type: string, enum: [code] } }
        - { name: client_id, in: query, required: true, schema: { type: string, example: award-web } }
        - { name: redirect_uri, in: query, required: true, schema: { type: string, format: uri } }
        - { name: scope, in: query, required: true, schema: { type: string, example: openid profile } }
        - { name: state, in: query, required: true, schema: { type: string } }
        - { name: code_challenge, in: query, required: true, schema: { type: string } }
        - { name: code_challenge_method, in: query, required: true, schema: { type: string, enum: [S256] } }
      responses:
        '302':
          description: Redirect to the login page or to `redirect_uri` with the authorization code

  /oauth2/token:
    post:
      tags: [Authentication]
      summary: Exchange a code or refresh token for tokens
      description: |
        `grant_type=authorization_code` with `code`, `redirect_uri`, `client_id` and `code_verifier`, or
        `grant_type=refresh_token` with `refresh_token` and `client_id`. Refresh tokens rotate on every use;
        presenting a rotated token again revokes the whole authorization.
      operationId: token
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        '200':
          description: Tokens issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Invalid grant or request (`error` is `invalid_grant`, `invalid_request` or `invalid_client`)
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /oauth2/revoke:
    post:
      tags: [Authentication]
      summary: Revoke a refresh or access token
      operationId: revokeToken
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [token, client_id]
              properties:
                token: { type: string }
                token_type_hint: { type: string, enum: [refresh_token, access_token] }
                client_id: { type: string }
      responses:
        '200':
          description: Token revoked (also returned for unknown tokens)

  /oauth2/jwks:
    get:
      tags: [Authentication]
      summary: Public keys used to verify token signatures (RS256)
      operationId: jwks
      responses:
        '200':
          description: JSON Web Key Set

  /.well-known/openid-configuration:
    get:
      tags: [Authentication]
      summary: OpenID Connect discovery document
      operationId: discovery
      responses:
        '200':
          description: Endpoint locations and supported features

  /connect/logout:
    get:
      tags: [Authentication]
      summary: End the server session (OpenID Connect RP-initiated logout)
      operationId: logout
      parameters:
        - { name: id_token_hint, in: query, required: true, schema: { type: string } }
        - { name: post_logout_redirect_uri, in: query, schema: { type: string, format: uri } }
      responses:
        '302':
          description: Session ended; redirect to `post_logout_redirect_uri`

  /auth/register:
    post:
      tags: [Authentication]
      summary: Register an employee account
      description: |
        Open endpoint. Like every `/auth/**` endpoint, `/oauth2/token` and `/login`, it is limited to 20 requests per
        minute per client address; the 21st answers 429 with `Retry-After` (`urn:awards:problem:too-many-requests`).
        Every response carries `X-Correlation-Id` (a caller-supplied UUID is kept). Requires an institutional address (`@chnu.edu.ua`), a password of at least 10 characters and
        at most 72 bytes that is not on the common-password list, names made of letters, and an active department.
        Addresses are stored lower-case. The account is created `PENDING` with the
        `EMPLOYEE` role and a verification email (24-hour link) is sent.
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Account created, verification email sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationResponse'
        '400':
          description: Malformed body (bean validation)
        '409':
          description: Address already registered (`urn:awards:problem:email-taken`)
        '422':
          description: |
            `urn:awards:problem:institutional-email-required`, `organisation-invalid`,
            `password-too-short`, `password-too-long` or `password-too-common`

  /auth/verify-email:
    post:
      tags: [Authentication]
      summary: Confirm an address with the token from the email link and the registration password
      description: |
        The password chosen at registration must be presented with the token, so that only the person who
        registered can activate the account; a wrong password leaves the token usable.
      operationId: verifyEmail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenWithPasswordRequest'
      responses:
        '200':
          description: Account is now `ACTIVE`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationResponse'
        '403':
          description: Password differs from the one chosen at registration (`urn:awards:problem:password-mismatch`)
        '409':
          description: Account is not awaiting verification (`urn:awards:problem:account-not-pending`)
        '410':
          description: Token unknown, expired or already used (`urn:awards:problem:token-invalid`)

  /auth/resend-verification:
    post:
      tags: [Authentication]
      summary: Send a fresh verification link
      description: Always answers 202 for known and unknown addresses; at most one email per address per minute.
      operationId: resendVerification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '202':
          description: Accepted
        '429':
          description: An email was sent within the last minute (`urn:awards:problem:too-many-requests`)

  /auth/password-reset/request:
    post:
      tags: [Authentication]
      summary: Send a password reset link
      description: |
        Always answers 202 so the response does not reveal whether an address is registered. An `ACTIVE` account
        receives an email with a 1-hour single-use link; pending, disabled and unknown addresses receive nothing.
        At most one email per address per minute; further requests inside the interval are accepted silently.
      operationId: requestPasswordReset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '202':
          description: Accepted

  /auth/password-reset/confirm:
    post:
      tags: [Authentication]
      summary: Set a new password with the token from the email link
      description: |
        Replaces the password hash (BCrypt strength 12), marks the token used and revokes every authorization of
        the user, so each signed-in browser has to log in again with the new password.
      operationId: confirmPasswordReset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenWithPasswordRequest'
      responses:
        '204':
          description: Password changed, all sessions revoked
        '409':
          description: Account is not `ACTIVE` (`urn:awards:problem:account-not-active`)
        '410':
          description: Token unknown, expired or already used (`urn:awards:problem:token-invalid`)
        '422':
          description: |
            `urn:awards:problem:password-too-short`, `password-too-long`, `password-too-common` or
            `password-same-as-current`

  /auth/security/revoke:
    post:
      tags: [Authentication]
      summary: Deny a sign-in reported by a new-device email ("This was not me")
      description: |
        Takes the 24-hour single-use token from the "New sign-in" email. Revokes every authorization and login
        session of the user, cancels the user's other unused "not me" links, forgets all known devices, replaces
        the current password with an unusable one and emails a 1-hour password-reset link. The account stays `ACTIVE`; `SECURITY_REVOKE` is written to the
        audit log.
      operationId: revokeAccess
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeRequest'
      responses:
        '204':
          description: Sessions revoked, reset link sent
        '410':
          description: Token unknown, expired or already used (`urn:awards:problem:token-invalid`)

  # ============== Organisations ==============
  /organizations:
    get:
      tags: [Users]
      summary: List active organisations of one level with their parent
      description: Open endpoint, used by the registration form to pick a department.
      operationId: listOrganizations
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [UNIVERSITY, COLLEGE, FACULTY, SPECIALITY, DEPARTMENT]
            default: DEPARTMENT
      responses:
        '200':
          description: Organisations ordered by English name
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationSummary'

  # ============== Awards ==============
  /awards:
    get:
      tags: [Awards]
      summary: List awards
      description: Retrieve paginated list of awards with optional filtering
      security:
        - bearerAuth: []
      operationId: listAwards
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - $ref: '#/components/parameters/SortParam'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/AwardStatus'
        - name: category
          in: query
          schema:
            type: string
            format: uuid
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Paginated award list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwardPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      tags: [Awards]
      summary: Create award submission
      description: Submit a new award for review
      security:
        - bearerAuth: []
      operationId: createAward
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwardCreateRequest'
      responses:
        '201':
          description: Award created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Award'
          headers:
            Location:
              schema:
                type: string
              description: URL of created resource
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /awards/{id}:
    get:
      tags: [Awards]
      summary: Get award by ID
      security:
        - bearerAuth: []
      operationId: getAward
      parameters:
        - $ref: '#/components/parameters/AwardIdParam'
      responses:
        '200':
          description: Award details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Award'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Awards]
      summary: Update award
      security:
        - bearerAuth: []
      operationId: updateAward
      parameters:
        - $ref: '#/components/parameters/AwardIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwardUpdateRequest'
      responses:
        '200':
          description: Award updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Award'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

    delete:
      tags: [Awards]
      summary: Delete award
      security:
        - bearerAuth: []
      operationId: deleteAward
      parameters:
        - $ref: '#/components/parameters/AwardIdParam'
      responses:
        '204':
          description: Award deleted
        '404':
          $ref: '#/components/responses/NotFound'

  # ============== Workflows ==============
  /awards/{id}/submit:
    post:
      tags: [Workflows]
      summary: Submit award for approval
      security:
        - bearerAuth: []
      operationId: submitAward
      parameters:
        - $ref: '#/components/parameters/AwardIdParam'
      responses:
        '200':
          description: Award submitted for review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Award'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /awards/{id}/approve:
    post:
      tags: [Workflows]
      summary: Approve award at current level
      security:
        - bearerAuth: []
      operationId: approveAward
      parameters:
        - $ref: '#/components/parameters/AwardIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalRequest'
      responses:
        '200':
          description: Award approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Award'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /awards/{id}/reject:
    post:
      tags: [Workflows]
      summary: Reject award
      security:
        - bearerAuth: []
      operationId: rejectAward
      parameters:
        - $ref: '#/components/parameters/AwardIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectionRequest'
      responses:
        '200':
          description: Award rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Award'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /awards/{id}/return:
    post:
      tags: [Workflows]
      summary: Return award for revision
      security:
        - bearerAuth: []
      operationId: returnAward
      parameters:
        - $ref: '#/components/parameters/AwardIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnRequest'
      responses:
        '200':
          description: Award returned for revision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Award'

  # ============== Documents ==============
  /awards/{id}/documents:
    get:
      tags: [Documents]
      summary: List award documents
      security:
        - bearerAuth: []
      operationId: listAwardDocuments
      parameters:
        - $ref: '#/components/parameters/AwardIdParam'
      responses:
        '200':
          description: Document list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'

    post:
      tags: [Documents]
      summary: Upload document
      security:
        - bearerAuth: []
      operationId: uploadDocument
      parameters:
        - $ref: '#/components/parameters/AwardIdParam'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, type]
              properties:
                file:
                  type: string
                  format: binary
                  description: Document file (PDF, JPG, PNG)
                type:
                  $ref: '#/components/schemas/DocumentType'
                description:
                  type: string
                  maxLength: 500
      responses:
        '201':
          description: Document uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '413':
          description: File too large (max 10MB)

  /documents/{id}:
    get:
      tags: [Documents]
      summary: Download document
      security:
        - bearerAuth: []
      operationId: downloadDocument
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Document file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Documents]
      summary: Delete document
      security:
        - bearerAuth: []
      operationId: deleteDocument
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Document deleted
        '404':
          $ref: '#/components/responses/NotFound'

  # ============== Users ==============
  /users/me:
    get:
      tags: [Users]
      summary: Get current user profile
      security:
        - bearerAuth: []
      operationId: getCurrentUser
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

    patch:
      tags: [Users]
      summary: Update current user profile
      security:
        - bearerAuth: []
      operationId: updateCurrentUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /users:
    get:
      tags: [Users]
      summary: List users (Admin only)
      security:
        - bearerAuth: []
      operationId: listUsers
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - name: role
          in: query
          schema:
            $ref: '#/components/schemas/UserRole'
        - name: organization
          in: query
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: User list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPage'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ============== Reports ==============
  /reports/awards/summary:
    get:
      tags: [Reports]
      summary: Awards summary statistics
      security:
        - bearerAuth: []
      operationId: getAwardsSummary
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [week, month, quarter, year]
            default: month
      responses:
        '200':
          description: Summary statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwardsSummary'

  /reports/awards/export:
    get:
      tags: [Reports]
      summary: Export awards data
      security:
        - bearerAuth: []
      operationId: exportAwards
      parameters:
        - name: format
          in: query
          required: true
          schema:
            type: string
            enum: [csv, xlsx, pdf]
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Export file
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  # ============== Health ==============
  /actuator/health:
    get:
      summary: Health check
      operationId: healthCheck
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: UP

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token issued by /oauth2/token

  parameters:
    PageParam:
      name: page
      in: query
      description: Page number (0-based)
      schema:
        type: integer
        default: 0
        minimum: 0

    SizeParam:
      name: size
      in: query
      description: Page size
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100

    SortParam:
      name: sort
      in: query
      description: Sort field and direction (e.g., createdAt,desc)
      schema:
        type: string

    AwardIdParam:
      name: id
      in: path
      required: true
      description: Award UUID
      schema:
        type: string
        format: uuid

  schemas:
    # Auth
    TokenRequest:
      type: object
      required: [grant_type, client_id]
      properties:
        grant_type:
          type: string
          enum: [authorization_code, refresh_token]
        client_id:
          type: string
          example: award-web
        code:
          type: string
        redirect_uri:
          type: string
          format: uri
        code_verifier:
          type: string
        refresh_token:
          type: string

    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
          description: RS256-signed JWT with `sub`, `email`, `name`, `roles`, `permissions`, `org_id`, `org_type`
        refresh_token:
          type: string
        id_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          description: Seconds until the access token expires
          example: 900
        scope:
          type: string
          example: openid profile

    RegisterRequest:
      type: object
      required: [email, password, firstName, lastName, organizationId]
      properties:
        email:
          type: string
          format: email
          example: anastasia.k@chnu.edu.ua
        password:
          type: string
          format: password
          minLength: 10
          maxLength: 72
        firstName:
          type: string
          maxLength: 100
        lastName:
          type: string
          maxLength: 100
        organizationId:
          type: integer
          format: int64
          description: Department the employee belongs to

    RevokeRequest:
      type: object
      required: [token]
      properties:
        token:
          type: string
          description: Raw token from the "New sign-in" email

    TokenWithPasswordRequest:
      type: object
      required: [token, password]
      properties:
        token:
          type: string
          description: Raw token from the email link
        password:
          type: string
          format: password
          maxLength: 72
          description: Registration password when confirming an address; the new password when resetting it

    RegistrationResponse:
      type: object
      properties:
        email:
          type: string
          format: email
        status:
          $ref: '#/components/schemas/AccountStatus'

    OrganizationSummary:
      allOf:
        - $ref: '#/components/schemas/OrganizationRef'
        - type: object
          properties:
            parent:
              $ref: '#/components/schemas/OrganizationRef'

    # User
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string
        roles:
          type: array
          items:
            $ref: '#/components/schemas/RoleAssignment'
        organization:
          $ref: '#/components/schemas/OrganizationRef'
        status:
          $ref: '#/components/schemas/AccountStatus'
        createdAt:
          type: string
          format: date-time
        lastLoginAt:
          type: string
          format: date-time

    AccountStatus:
      type: string
      enum: [PENDING, ACTIVE, INACTIVE, SUSPENDED, RETIRED, MEMORIAL, DELETED]

    RoleAssignment:
      type: object
      properties:
        role:
          $ref: '#/components/schemas/UserRole'
        organization:
          $ref: '#/components/schemas/OrganizationRef'
        validFrom:
          type: string
          format: date
        validTo:
          type: string
          format: date
          nullable: true

    UserRole:
      type: string
      enum:
        - EMPLOYEE
        - FACULTY_SECRETARY
        - DEAN
        - RECTOR_SECRETARY
        - RECTOR
        - SYSTEM_ADMIN
        - GDPR_OFFICER

    UserUpdateRequest:
      type: object
      properties:
        firstName:
          type: string
          maxLength: 100
        lastName:
          type: string
          maxLength: 100
        notificationPreferences:
          $ref: '#/components/schemas/NotificationPreferences'

    UserPage:
      allOf:
        - $ref: '#/components/schemas/Page'
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/User'

    NotificationPreferences:
      type: object
      properties:
        emailEnabled:
          type: boolean
          default: true
        browserEnabled:
          type: boolean
          default: true

    # Organization
    OrganizationRef:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        nameUk:
          type: string
        code:
          type: string
        type:
          type: string
          enum: [UNIVERSITY, COLLEGE, FACULTY, SPECIALITY, DEPARTMENT]

    # Award
    Award:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        category:
          $ref: '#/components/schemas/AwardCategory'
        status:
          $ref: '#/components/schemas/AwardStatus'
        currentLevel:
          $ref: '#/components/schemas/ApprovalLevel'
        submitter:
          $ref: '#/components/schemas/UserRef'
        awardDate:
          type: string
          format: date
        issuingOrganization:
          type: string
        documents:
          type: array
          items:
            $ref: '#/components/schemas/DocumentRef'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        version:
          type: integer

    AwardStatus:
      type: string
      enum:
        - DRAFT
        - SUBMITTED
        - UNDER_REVIEW
        - APPROVED
        - REJECTED
        - RETURNED
        - PUBLISHED

    ApprovalLevel:
      type: string
      enum:
        - DEPARTMENT
        - FACULTY
        - RECTOR_OFFICE
        - FINAL

    AwardCategory:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        level:
          type: string
          enum: [INTERNATIONAL, NATIONAL, REGIONAL, LOCAL]

    AwardCreateRequest:
      type: object
      required: [title, categoryId, awardDate]
      properties:
        title:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2000
        categoryId:
          type: string
          format: uuid
        awardDate:
          type: string
          format: date
        issuingOrganization:
          type: string
          maxLength: 255

    AwardUpdateRequest:
      type: object
      properties:
        title:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2000
        categoryId:
          type: string
          format: uuid
        awardDate:
          type: string
          format: date
        issuingOrganization:
          type: string
          maxLength: 255

    AwardPage:
      allOf:
        - $ref: '#/components/schemas/Page'
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/Award'

    UserRef:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          format: email

    DocumentRef:
      type: object
      properties:
        id:
          type: string
          format: uuid
        filename:
          type: string
        type:
          $ref: '#/components/schemas/DocumentType'

    # Workflow
    ApprovalRequest:
      type: object
      properties:
        comment:
          type: string
          maxLength: 1000

    RejectionRequest:
      type: object
      required: [reason]
      properties:
        reason:
          type: string
          maxLength: 1000

    ReturnRequest:
      type: object
      required: [reason]
      properties:
        reason:
          type: string
          maxLength: 1000
        requiredChanges:
          type: array
          items:
            type: string

    # Document
    Document:
      type: object
      properties:
        id:
          type: string
          format: uuid
        filename:
          type: string
        originalFilename:
          type: string
        type:
          $ref: '#/components/schemas/DocumentType'
        mimeType:
          type: string
        size:
          type: integer
          format: int64
        description:
          type: string
        status:
          type: string
          enum: [PENDING, VERIFIED, REJECTED]
        uploadedAt:
          type: string
          format: date-time
        uploadedBy:
          $ref: '#/components/schemas/UserRef'

    DocumentType:
      type: string
      enum:
        - CERTIFICATE
        - DIPLOMA
        - SUPPORTING_DOCUMENT
        - PHOTO

    # Reports
    AwardsSummary:
      type: object
      properties:
        period:
          type: string
        totalAwards:
          type: integer
        byStatus:
          type: object
          additionalProperties:
            type: integer
        byCategory:
          type: object
          additionalProperties:
            type: integer
        approvalRate:
          type: number
          format: float
        averageProcessingDays:
          type: number
          format: float

    # Common
    Page:
      type: object
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
        size:
          type: integer
        number:
          type: integer
        first:
          type: boolean
        last:
          type: boolean

    ProblemDetail:
      type: object
      description: RFC 7807 Problem Details
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
          format: uri
        timestamp:
          type: string
          format: date-time
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string

  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'

    Unauthorized:
      description: Authentication required
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'

    Forbidden:
      description: Insufficient permissions
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'

    NotFound:
      description: Resource not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'

    Conflict:
      description: Resource conflict (e.g., concurrent modification)
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'

    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds until rate limit resets

security:
  - bearerAuth: []

