openapi: 3.1.0
info:
  title: Award Monitoring & Tracking System API
  version: 1.0.0
  description: |
    RESTful API for enterprise award monitoring and tracking platform.
    
    ## Authentication
    The application is its own OAuth 2.1 / OpenID Connect provider. Browser clients obtain tokens through the
    authorization code flow with PKCE and send `Authorization: Bearer <access token>` on every `/api` request.
    
    ## Rate Limiting
    - Standard users: 1000 requests/hour
    - Admin users: 5000 requests/hour
    
    ## Response Formats
    All responses are JSON. Dates are ISO 8601 format (UTC).
    
    ## Error Handling
    Errors follow RFC 7807 Problem Details format.
    
  contact:
    name: API Support
    email: support@award-system.edu.ua
    url: https://award-system.edu.ua/docs
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.award-system.edu.ua/v1
    description: Production server
  - url: https://staging-api.award-system.edu.ua/v1
    description: Staging server
  - url: http://localhost:8080/api/v1
    description: Local development

tags:
  - name: Authentication
    description: OAuth2 authentication and token management
  - name: Awards
    description: Award CRUD and submission operations
  - name: Workflows
    description: Award approval workflow management
  - name: Users
    description: User account management
  - name: Delegations
    description: Temporary delegation of approval authority
  - name: Documents
    description: Document upload and management
  - name: Reports
    description: Analytics and reporting endpoints

paths:
  # ============== Authentication ==============
  # The application is an OAuth 2.1 / OpenID Connect provider (Spring Authorization Server).
  # The browser client `award-web` is public and uses the authorization code flow with PKCE.
  /oauth2/authorize:
    get:
      tags: [Authentication]
      summary: Start the authorization code flow
      description: |
        Redirects an anonymous user to the login page (`/login`, Ukrainian by default, `?lang=en` for English)
        and, once authenticated, back to `redirect_uri` with `code` and `state`.
      operationId: authorize
      parameters:
        - { name: response_type, in: query, required: true, schema: { type: string, enum: [code] } }
        - { name: client_id, in: query, required: true, schema: { type: string, example: award-web } }
        - { name: redirect_uri, in: query, required: true, schema: { type: string, format: uri } }
        - { name: scope, in: query, required: true, schema: { type: string, example: openid profile } }
        - { name: state, in: query, required: true, schema: { type: string } }
        - { name: code_challenge, in: query, required: true, schema: { type: string } }
        - { name: code_challenge_method, in: query, required: true, schema: { type: string, enum: [S256] } }
      responses:
        '302':
          description: Redirect to the login page or to `redirect_uri` with the authorization code

  /oauth2/token:
    post:
      tags: [Authentication]
      summary: Exchange a code or refresh token for tokens
      description: |
        `grant_type=authorization_code` with `code`, `redirect_uri`, `client_id` and `code_verifier`, or
        `grant_type=refresh_token` with `refresh_token` and `client_id`. Refresh tokens rotate on every use;
        presenting a rotated token again revokes the whole authorization.
      operationId: token
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        '200':
          description: Tokens issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Invalid grant or request (`error` is `invalid_grant`, `invalid_request` or `invalid_client`)
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /oauth2/revoke:
    post:
      tags: [Authentication]
      summary: Revoke a refresh or access token
      operationId: revokeToken
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [token, client_id]
              properties:
                token: { type: string }
                token_type_hint: { type: string, enum: [refresh_token, access_token] }
                client_id: { type: string }
      responses:
        '200':
          description: Token revoked (also returned for unknown tokens)

  /oauth2/jwks:
    get:
      tags: [Authentication]
      summary: Public keys used to verify token signatures (RS256)
      operationId: jwks
      responses:
        '200':
          description: JSON Web Key Set

  /.well-known/openid-configuration:
    get:
      tags: [Authentication]
      summary: OpenID Connect discovery document
      operationId: discovery
      responses:
        '200':
          description: Endpoint locations and supported features

  /connect/logout:
    get:
      tags: [Authentication]
      summary: End the server session (OpenID Connect RP-initiated logout)
      operationId: logout
      parameters:
        - { name: id_token_hint, in: query, required: true, schema: { type: string } }
        - { name: post_logout_redirect_uri, in: query, schema: { type: string, format: uri } }
      responses:
        '302':
          description: Session ended; redirect to `post_logout_redirect_uri`

  /auth/register:
    post:
      tags: [Authentication]
      summary: Register an employee account
      description: |
        Open endpoint. Like every `/auth/**` endpoint, `/oauth2/token` and `/login`, it is limited to 20 requests per
        minute per client address; the 21st answers 429 with `Retry-After` (`urn:awards:problem:too-many-requests`).
        Every response carries `X-Correlation-Id` (a caller-supplied UUID is kept). Requires an institutional address (`@chnu.edu.ua`), a password of at least 10 characters and
        at most 72 bytes that is not on the common-password list, names made of letters, and an active department.
        Addresses are stored lower-case. The account is created `PENDING` with no role at all and a verification
        email (24-hour link) is sent; the first role is granted by somebody who may manage the department
        (membership confirmation), so a freshly verified account carries no roles or permissions in its token.
        Registering an address that already has a `PENDING` account whose newest verification link has expired
        replaces that account (name, organisation, password, fresh link) and answers 201.
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Account created, verification email sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationResponse'
        '400':
          description: Malformed body (bean validation)
        '409':
          description: |
            Address already registered (`urn:awards:problem:email-taken`); a `PENDING` account whose
            verification link is still valid answers 409 as well
        '422':
          description: |
            `urn:awards:problem:institutional-email-required`, `organisation-invalid`,
            `password-too-short`, `password-too-long` or `password-too-common`

  /auth/verify-email:
    post:
      tags: [Authentication]
      summary: Confirm an address with the token from the email link and the registration password
      description: |
        The password chosen at registration must be presented with the token, so that only the person who
        registered can activate the account; a wrong password leaves the token usable.
      operationId: verifyEmail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenWithPasswordRequest'
      responses:
        '200':
          description: Account is now `ACTIVE`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationResponse'
        '403':
          description: Password differs from the one chosen at registration (`urn:awards:problem:password-mismatch`)
        '409':
          description: Account is not awaiting verification (`urn:awards:problem:account-not-pending`)
        '410':
          description: Token unknown, expired or already used (`urn:awards:problem:token-invalid`)

  /auth/resend-verification:
    post:
      tags: [Authentication]
      summary: Send a fresh verification link
      description: Always answers 202 for known and unknown addresses; at most one email per address per minute.
      operationId: resendVerification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '202':
          description: Accepted
        '429':
          description: An email was sent within the last minute (`urn:awards:problem:too-many-requests`)

  /auth/password-reset/request:
    post:
      tags: [Authentication]
      summary: Send a password reset link
      description: |
        Always answers 202 so the response does not reveal whether an address is registered. An `ACTIVE` account
        receives an email with a 1-hour single-use link; pending, disabled and unknown addresses receive nothing.
        At most one email per address per minute; further requests inside the interval are accepted silently.
      operationId: requestPasswordReset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '202':
          description: Accepted

  /auth/password-reset/confirm:
    post:
      tags: [Authentication]
      summary: Set a new password with the token from the email link
      description: |
        Replaces the password hash (BCrypt strength 12), marks the token used and revokes every authorization of
        the user, so each signed-in browser has to log in again with the new password.
      operationId: confirmPasswordReset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenWithPasswordRequest'
      responses:
        '204':
          description: Password changed, all sessions revoked
        '409':
          description: Account is not `ACTIVE` (`urn:awards:problem:account-not-active`)
        '410':
          description: Token unknown, expired or already used (`urn:awards:problem:token-invalid`)
        '422':
          description: |
            `urn:awards:problem:password-too-short`, `password-too-long`, `password-too-common` or
            `password-same-as-current`

  /auth/security/revoke:
    post:
      tags: [Authentication]
      summary: Deny a sign-in reported by a new-device email ("This was not me")
      description: |
        Takes the 24-hour single-use token from the "New sign-in" email. Revokes every authorization and login
        session of the user, cancels the user's other unused "not me" links, forgets all known devices, replaces
        the current password with an unusable one and emails a 1-hour password-reset link. The account stays `ACTIVE`; `SECURITY_REVOKE` is written to the
        audit log.
      operationId: revokeAccess
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeRequest'
      responses:
        '204':
          description: Sessions revoked, reset link sent
        '410':
          description: Token unknown, expired or already used (`urn:awards:problem:token-invalid`)

  # ============== Organisations ==============
  /organizations:
    get:
      tags: [Users]
      summary: List active organisations of one level with their parent
      description: Open endpoint, used by the registration form to pick a department.
      operationId: listOrganizations
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [UNIVERSITY, COLLEGE, FACULTY, SPECIALITY, DEPARTMENT]
            default: DEPARTMENT
      responses:
        '200':
          description: Organisations ordered by English name
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationSummary'

  # ============== Awards ==============
  /awards:
    get:
      tags: [Awards]
      summary: List awards
      description: Retrieve paginated list of awards with optional filtering
      security:
        - bearerAuth: []
      operationId: listAwards
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - $ref: '#/components/parameters/SortParam'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/AwardStatus'
        - name: category
          in: query
          schema:
            type: string
            format: uuid
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Paginated award list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwardPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      tags: [Awards]
      summary: Create award submission
      description: Submit a new award for review
      security:
        - bearerAuth: []
      operationId: createAward
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwardCreateRequest'
      responses:
        '201':
          description: Award created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Award'
          headers:
            Location:
              schema:
                type: string
              description: URL of created resource
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /awards/{id}:
    get:
      tags: [Awards]
      summary: Get award by ID
      security:
        - bearerAuth: []
      operationId: getAward
      parameters:
        - $ref: '#/components/parameters/AwardIdParam'
      responses:
        '200':
          description: Award details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Award'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Awards]
      summary: Update award
      security:
        - bearerAuth: []
      operationId: updateAward
      parameters:
        - $ref: '#/components/parameters/AwardIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwardUpdateRequest'
      responses:
        '200':
          description: Award updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Award'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

    delete:
      tags: [Awards]
      summary: Delete award
      security:
        - bearerAuth: []
      operationId: deleteAward
      parameters:
        - $ref: '#/components/parameters/AwardIdParam'
      responses:
        '204':
          description: Award deleted
        '404':
          $ref: '#/components/responses/NotFound'

  # ============== Workflows ==============
  /awards/{id}/submit:
    post:
      tags: [Workflows]
      summary: Submit award for approval
      security:
        - bearerAuth: []
      operationId: submitAward
      parameters:
        - $ref: '#/components/parameters/AwardIdParam'
      responses:
        '200':
          description: Award submitted for review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Award'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /awards/{id}/approve:
    post:
      tags: [Workflows]
      summary: Approve award at current level
      security:
        - bearerAuth: []
      operationId: approveAward
      parameters:
        - $ref: '#/components/parameters/AwardIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalRequest'
      responses:
        '200':
          description: Award approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Award'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /awards/{id}/reject:
    post:
      tags: [Workflows]
      summary: Reject award
      security:
        - bearerAuth: []
      operationId: rejectAward
      parameters:
        - $ref: '#/components/parameters/AwardIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectionRequest'
      responses:
        '200':
          description: Award rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Award'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /awards/{id}/return:
    post:
      tags: [Workflows]
      summary: Return award for revision
      security:
        - bearerAuth: []
      operationId: returnAward
      parameters:
        - $ref: '#/components/parameters/AwardIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnRequest'
      responses:
        '200':
          description: Award returned for revision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Award'

  # ============== Documents ==============
  /awards/{id}/documents:
    get:
      tags: [Documents]
      summary: List award documents
      security:
        - bearerAuth: []
      operationId: listAwardDocuments
      parameters:
        - $ref: '#/components/parameters/AwardIdParam'
      responses:
        '200':
          description: Document list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'

    post:
      tags: [Documents]
      summary: Upload document
      security:
        - bearerAuth: []
      operationId: uploadDocument
      parameters:
        - $ref: '#/components/parameters/AwardIdParam'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, type]
              properties:
                file:
                  type: string
                  format: binary
                  description: Document file (PDF, JPG, PNG)
                type:
                  $ref: '#/components/schemas/DocumentType'
                description:
                  type: string
                  maxLength: 500
      responses:
        '201':
          description: Document uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '413':
          description: File too large (max 10MB)

  /documents/{id}:
    get:
      tags: [Documents]
      summary: Download document
      security:
        - bearerAuth: []
      operationId: downloadDocument
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Document file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Documents]
      summary: Delete document
      security:
        - bearerAuth: []
      operationId: deleteDocument
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Document deleted
        '404':
          $ref: '#/components/responses/NotFound'

  # ============== Users ==============
  /users/me:
    get:
      tags: [Users]
      summary: Get current user profile
      security:
        - bearerAuth: []
      operationId: getCurrentUser
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

    patch:
      tags: [Users]
      summary: Update current user profile
      security:
        - bearerAuth: []
      operationId: updateCurrentUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /users:
    get:
      tags: [Users]
      summary: User directory
      description: |
        Everybody for `user:read:all`; for `user:read:scope` only members of the organisations inside the
        caller's role scopes. Unverified accounts never appear. Sorted by last name, first name.
      security:
        - bearerAuth: []
      operationId: listUsers
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - name: organization
          in: query
          description: Limit to this organisation and its descendants; must lie inside the caller's scope
          schema:
            type: integer
            format: int64
        - name: role
          in: query
          description: Holders of the role today
          schema:
            $ref: '#/components/schemas/UserRole'
        - name: status
          in: query
          description: Without it, every status except `PENDING` and `DELETED`
          schema:
            $ref: '#/components/schemas/AccountStatus'
        - name: unconfirmed
          in: query
          description: Only users who have never held a role
          schema:
            type: boolean
            default: false
        - name: q
          in: query
          description: Case-insensitive fragment of the name or address; ignored under two characters
          schema:
            type: string
      responses:
        '200':
          description: One page; `size` is capped at 100
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPage'
        '403':
          description: |
            `urn:awards:problem:access-denied` — the caller lacks `user:read:all`/`user:read:scope`, or
            `organization` is outside the caller's scope; the `detail` names what is missing
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'

  /users/{id}:
    get:
      tags: [Users]
      summary: One user with the role history
      security:
        - bearerAuth: []
      operationId: getUser
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetail'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Unknown, unverified, or outside the caller's scope (the directory does not confirm foreign ids)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'

  /users/{id}/roles:
    post:
      tags: [Users]
      summary: Grant a role to a user
      description: |
        Needs `user:manage` (any role anywhere) or `user:manage:scope` (a role strictly below one the caller
        holds, in an organisation inside that role's subtree). The target must be `ACTIVE` and must not already
        hold the role in that organisation today. Granting `EMPLOYEE` with `updateOrganization` is the
        membership confirmation of a self-registered account: the user's primary organisation is corrected to
        `organizationId` and a current `EMPLOYEE` role in the previous department is revoked in the same
        request. The new role reaches the user's token with the next silent refresh or sign-in.
      security:
        - bearerAuth: []
      operationId: assignRole
      parameters:
        - $ref: '#/components/parameters/UserIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleAssignmentRequest'
      responses:
        '201':
          description: The assignment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignment'
        '400':
          description: Malformed body (bean validation)
        '403':
          description: |
            `urn:awards:problem:access-denied` without the permission, or
            `urn:awards:problem:role-above-level` when the role is not below the caller's level in that
            organisation (university and system roles are granted by the rector's office or the administrator)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '404':
          description: Unknown user, or outside the caller's scope
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '409':
          description: |
            `urn:awards:problem:role-already-assigned` — the user already holds the role in that organisation
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '422':
          description: |
            `urn:awards:problem:role-organization-mismatch` (the organisation type does not fit the role),
            `organisation-invalid` (unknown or inactive), `user-not-active`, `role-validity`, or
            `membership-role-required` when `updateOrganization` is sent with a role other than `EMPLOYEE`
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'

  /users/{id}/roles/{roleId}:
    delete:
      tags: [Users]
      summary: Revoke a role
      description: |
        Allowed to callers who could have granted the role. Nothing is deleted: `validTo` becomes yesterday, so
        the history stays readable. The target's sessions and tokens are ended everywhere, so the lost
        permissions take effect at once. A caller cannot revoke their own last role above `EMPLOYEE`.
      security:
        - bearerAuth: []
      operationId: revokeRole
      parameters:
        - $ref: '#/components/parameters/UserIdParam'
        - name: roleId
          in: path
          required: true
          description: Assignment identifier
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: Revoked
        '403':
          description: |
            `urn:awards:problem:access-denied`, `role-above-level`, or `role-last-own` when the caller would
            strip their own last role above `EMPLOYEE`
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '404':
          description: Unknown user or assignment, or outside the caller's scope
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '409':
          description: |
            `urn:awards:problem:role-already-revoked` — the assignment has already ended
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'


  # ============== Delegations ==============
  /delegations:
    get:
      tags: [Delegations]
      summary: Delegations given and received by the caller
      description: |
        Approval authority the caller handed to somebody else and authority handed to the caller, newest
        first. `state` narrows the list; without it every state is returned. A holder of `user:manage` may
        pass `delegatorId` to read another person's page.
      security:
        - bearerAuth: []
      operationId: listDelegations
      parameters:
        - name: state
          in: query
          required: false
          description: Only delegations in this state
          schema:
            $ref: '#/components/schemas/DelegationState'
        - name: delegatorId
          in: query
          required: false
          description: Read this user's page instead of your own; `user:manage` only
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Delegations given and received
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DelegationList'
        '403':
          description: |
            `urn:awards:problem:access-denied` — `delegatorId` without `user:manage`
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'

    post:
      tags: [Delegations]
      summary: Delegate approval authority
      description: |
        Hands one approval role the caller currently holds (`FACULTY_SECRETARY`, `DEAN`, `RECTOR_SECRETARY`,
        `RECTOR`) to a colleague for a bounded period of at most 90 days. The delegate receives the role's
        `award:read:*` and `award:approve:*` permissions only — never user management — and cannot pass them
        on. The authority reaches the delegate's token with the next silent refresh or sign-in and disappears
        by itself after `validTo`.
      security:
        - bearerAuth: []
      operationId: createDelegation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DelegationRequest'
      responses:
        '201':
          description: The delegation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delegation'
        '400':
          description: Malformed body (bean validation)
        '403':
          description: |
            `urn:awards:problem:access-denied` — the caller holds no approval role
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '404':
          description: Unknown delegate, or outside the caller's scope
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '422':
          description: |
            `urn:awards:problem:delegation-not-holder` (the caller does not hold that role in that
            organisation today, or holds it only by delegation), `delegation-bad-delegate` (the delegate is
            the caller, is not `ACTIVE`, or holds no current role inside the organisation's subtree),
            `delegation-period` (`validTo` before `validFrom`, in the past, or more than 90 days after
            `validFrom`), `delegation-overlap` (the caller already delegated that role in that organisation
            for part of the period), or `organisation-invalid`
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'

  /delegations/{id}:
    delete:
      tags: [Delegations]
      summary: Revoke a delegation
      description: |
        Allowed to the delegator, to `user:manage`, and to anybody who could revoke the delegator's role.
        Anybody else is answered 404, so the endpoint does not confirm that a delegation exists or say what
        state it is in. Nothing is deleted: `revokedAt` and `revokedBy` are recorded. The delegate's sessions
        and tokens are ended everywhere, so the borrowed authority stops at once.
      security:
        - bearerAuth: []
      operationId: revokeDelegation
      parameters:
        - name: id
          in: path
          required: true
          description: Delegation identifier
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: Revoked
        '404':
          description: |
            Unknown delegation, or one the caller may not end
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '409':
          description: |
            `urn:awards:problem:delegation-not-active` — already revoked or expired
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
  # ============== Reports ==============
  /reports/awards/summary:
    get:
      tags: [Reports]
      summary: Awards summary statistics
      security:
        - bearerAuth: []
      operationId: getAwardsSummary
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [week, month, quarter, year]
            default: month
      responses:
        '200':
          description: Summary statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwardsSummary'

  /reports/awards/export:
    get:
      tags: [Reports]
      summary: Export awards data
      security:
        - bearerAuth: []
      operationId: exportAwards
      parameters:
        - name: format
          in: query
          required: true
          schema:
            type: string
            enum: [csv, xlsx, pdf]
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Export file
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  # ============== Health ==============
  /actuator/health:
    get:
      summary: Health check
      operationId: healthCheck
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: UP

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token issued by /oauth2/token

  parameters:
    PageParam:
      name: page
      in: query
      description: Page number (0-based)
      schema:
        type: integer
        default: 0
        minimum: 0

    SizeParam:
      name: size
      in: query
      description: Page size
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100

    SortParam:
      name: sort
      in: query
      description: Sort field and direction (e.g., createdAt,desc)
      schema:
        type: string

    AwardIdParam:
      name: id
      in: path
      required: true
      description: Award UUID
      schema:
        type: string
        format: uuid

    UserIdParam:
      name: id
      in: path
      required: true
      description: User identifier
      schema:
        type: integer
        format: int64

  schemas:
    # Auth
    TokenRequest:
      type: object
      required: [grant_type, client_id]
      properties:
        grant_type:
          type: string
          enum: [authorization_code, refresh_token]
        client_id:
          type: string
          example: award-web
        code:
          type: string
        redirect_uri:
          type: string
          format: uri
        code_verifier:
          type: string
        refresh_token:
          type: string

    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
          description: |
            RS256-signed JWT with `sub`, `email`, `name`, `roles`, `role_scopes` (`ROLE:orgId` per current
            assignment), `permissions`, `org_id`, `org_type`
        refresh_token:
          type: string
        id_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          description: Seconds until the access token expires
          example: 900
        scope:
          type: string
          example: openid profile

    RegisterRequest:
      type: object
      required: [email, password, firstName, lastName, organizationId]
      properties:
        email:
          type: string
          format: email
          example: anastasia.k@chnu.edu.ua
        password:
          type: string
          format: password
          minLength: 10
          maxLength: 72
        firstName:
          type: string
          maxLength: 100
        lastName:
          type: string
          maxLength: 100
        organizationId:
          type: integer
          format: int64
          description: Department the employee belongs to

    RevokeRequest:
      type: object
      required: [token]
      properties:
        token:
          type: string
          description: Raw token from the "New sign-in" email

    TokenWithPasswordRequest:
      type: object
      required: [token, password]
      properties:
        token:
          type: string
          description: Raw token from the email link
        password:
          type: string
          format: password
          maxLength: 72
          description: Registration password when confirming an address; the new password when resetting it

    RegistrationResponse:
      type: object
      properties:
        email:
          type: string
          format: email
        status:
          $ref: '#/components/schemas/AccountStatus'

    OrganizationSummary:
      allOf:
        - $ref: '#/components/schemas/OrganizationRef'
        - type: object
          properties:
            parent:
              $ref: '#/components/schemas/OrganizationRef'

    # User
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string
        roles:
          type: array
          items:
            $ref: '#/components/schemas/RoleAssignment'
        organization:
          $ref: '#/components/schemas/OrganizationRef'
        status:
          $ref: '#/components/schemas/AccountStatus'
        createdAt:
          type: string
          format: date-time
        lastLoginAt:
          type: string
          format: date-time
        membershipConfirmed:
          type: boolean
          description: |
            Whether somebody has ever granted the user a role; false until the department confirms a
            self-registered account, which is why the token carries no roles or permissions

    AccountStatus:
      type: string
      enum: [PENDING, ACTIVE, INACTIVE, SUSPENDED, RETIRED, MEMORIAL, DELETED]

    RoleAssignment:
      type: object
      properties:
        id:
          type: integer
          format: int64
        role:
          $ref: '#/components/schemas/UserRole'
        organization:
          $ref: '#/components/schemas/OrganizationRef'
        validFrom:
          type: string
          format: date
        validTo:
          type: string
          format: date
          nullable: true

    RoleAssignmentRequest:
      type: object
      required: [role, organizationId]
      properties:
        role:
          $ref: '#/components/schemas/UserRole'
        organizationId:
          type: integer
          format: int64
          description: |
            Where the role applies. `EMPLOYEE` needs a department, `DEAN` a faculty or college,
            `FACULTY_SECRETARY` a faculty or a department, and `RECTOR`, `RECTOR_SECRETARY`, `SYSTEM_ADMIN`
            and `GDPR_OFFICER` the university
        validFrom:
          type: string
          format: date
          description: First day the role applies; today when omitted, never in the past
        validTo:
          type: string
          format: date
          nullable: true
          description: Last day the role applies; open-ended when omitted
        updateOrganization:
          type: boolean
          default: false
          description: |
            Membership confirmation: move the user's primary organisation to `organizationId` and revoke a
            current `EMPLOYEE` role in the previous department. Only with `role: EMPLOYEE`

    UserRole:
      type: string
      enum:
        - EMPLOYEE
        - FACULTY_SECRETARY
        - DEAN
        - RECTOR_SECRETARY
        - RECTOR
        - SYSTEM_ADMIN
        - GDPR_OFFICER

    UserUpdateRequest:
      type: object
      properties:
        firstName:
          type: string
          maxLength: 100
        lastName:
          type: string
          maxLength: 100
        notificationPreferences:
          $ref: '#/components/schemas/NotificationPreferences'

    UserSummary:
      type: object
      properties:
        id:
          type: integer
          format: int64
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string
        organization:
          $ref: '#/components/schemas/OrganizationRef'
        status:
          $ref: '#/components/schemas/AccountStatus'
        roles:
          type: array
          description: Roles in effect today
          items:
            $ref: '#/components/schemas/RoleAssignment'
        membershipConfirmed:
          type: boolean
          description: Whether somebody has ever granted the user a role

    UserDetail:
      allOf:
        - $ref: '#/components/schemas/UserSummary'
        - type: object
          properties:
            createdAt:
              type: string
              format: date-time
            lastLoginAt:
              type: string
              format: date-time
              nullable: true
            roleHistory:
              type: array
              description: Every assignment ever made, newest first
              items:
                $ref: '#/components/schemas/RoleAssignment'

    UserPage:
      allOf:
        - $ref: '#/components/schemas/Page'
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/UserSummary'

    DelegationState:
      type: string
      description: |
        `active` — in effect today; `upcoming` — starts later; `expired` — its last day has passed;
        `revoked` — taken back before it ended
      enum: [active, upcoming, expired, revoked]

    Delegation:
      type: object
      properties:
        id:
          type: integer
          format: int64
        role:
          $ref: '#/components/schemas/UserRole'
        organization:
          $ref: '#/components/schemas/OrganizationRef'
        delegator:
          $ref: '#/components/schemas/UserBrief'
        delegate:
          $ref: '#/components/schemas/UserBrief'
        validFrom:
          type: string
          format: date
        validTo:
          type: string
          format: date
        reason:
          type: string
          nullable: true
        state:
          $ref: '#/components/schemas/DelegationState'
        createdAt:
          type: string
          format: date-time
        revokedAt:
          type: string
          format: date-time
          nullable: true

    DelegationRequest:
      type: object
      required: [delegateId, role, organizationId, validFrom, validTo]
      properties:
        delegateId:
          type: integer
          format: int64
          description: Who receives the authority; must be somebody else
        role:
          $ref: '#/components/schemas/UserRole'
        organizationId:
          type: integer
          format: int64
          description: Where the delegated role applies; the caller must hold the role there today
        validFrom:
          type: string
          format: date
          description: First day the authority applies
        validTo:
          type: string
          format: date
          description: Last day the authority applies; at most 90 days after `validFrom`
        reason:
          type: string
          maxLength: 500
          nullable: true

    DelegationList:
      type: object
      properties:
        given:
          type: array
          description: Delegations the caller handed out, newest first
          items:
            $ref: '#/components/schemas/Delegation'
        received:
          type: array
          description: Delegations handed to the caller, newest first
          items:
            $ref: '#/components/schemas/Delegation'

    UserBrief:
      type: object
      properties:
        id:
          type: integer
          format: int64
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email

    NotificationPreferences:
      type: object
      properties:
        emailEnabled:
          type: boolean
          default: true
        browserEnabled:
          type: boolean
          default: true

    # Organization
    OrganizationRef:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        nameUk:
          type: string
        code:
          type: string
        type:
          type: string
          enum: [UNIVERSITY, COLLEGE, FACULTY, SPECIALITY, DEPARTMENT]

    # Award
    Award:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        category:
          $ref: '#/components/schemas/AwardCategory'
        status:
          $ref: '#/components/schemas/AwardStatus'
        currentLevel:
          $ref: '#/components/schemas/ApprovalLevel'
        submitter:
          $ref: '#/components/schemas/UserRef'
        awardDate:
          type: string
          format: date
        issuingOrganization:
          type: string
        documents:
          type: array
          items:
            $ref: '#/components/schemas/DocumentRef'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        version:
          type: integer

    AwardStatus:
      type: string
      enum:
        - DRAFT
        - SUBMITTED
        - UNDER_REVIEW
        - APPROVED
        - REJECTED
        - RETURNED
        - PUBLISHED

    ApprovalLevel:
      type: string
      enum:
        - DEPARTMENT
        - FACULTY
        - RECTOR_OFFICE
        - FINAL

    AwardCategory:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        level:
          type: string
          enum: [INTERNATIONAL, NATIONAL, REGIONAL, LOCAL]

    AwardCreateRequest:
      type: object
      required: [title, categoryId, awardDate]
      properties:
        title:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2000
        categoryId:
          type: string
          format: uuid
        awardDate:
          type: string
          format: date
        issuingOrganization:
          type: string
          maxLength: 255

    AwardUpdateRequest:
      type: object
      properties:
        title:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2000
        categoryId:
          type: string
          format: uuid
        awardDate:
          type: string
          format: date
        issuingOrganization:
          type: string
          maxLength: 255

    AwardPage:
      allOf:
        - $ref: '#/components/schemas/Page'
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/Award'

    UserRef:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          format: email

    DocumentRef:
      type: object
      properties:
        id:
          type: string
          format: uuid
        filename:
          type: string
        type:
          $ref: '#/components/schemas/DocumentType'

    # Workflow
    ApprovalRequest:
      type: object
      properties:
        comment:
          type: string
          maxLength: 1000

    RejectionRequest:
      type: object
      required: [reason]
      properties:
        reason:
          type: string
          maxLength: 1000

    ReturnRequest:
      type: object
      required: [reason]
      properties:
        reason:
          type: string
          maxLength: 1000
        requiredChanges:
          type: array
          items:
            type: string

    # Document
    Document:
      type: object
      properties:
        id:
          type: string
          format: uuid
        filename:
          type: string
        originalFilename:
          type: string
        type:
          $ref: '#/components/schemas/DocumentType'
        mimeType:
          type: string
        size:
          type: integer
          format: int64
        description:
          type: string
        status:
          type: string
          enum: [PENDING, VERIFIED, REJECTED]
        uploadedAt:
          type: string
          format: date-time
        uploadedBy:
          $ref: '#/components/schemas/UserRef'

    DocumentType:
      type: string
      enum:
        - CERTIFICATE
        - DIPLOMA
        - SUPPORTING_DOCUMENT
        - PHOTO

    # Reports
    AwardsSummary:
      type: object
      properties:
        period:
          type: string
        totalAwards:
          type: integer
        byStatus:
          type: object
          additionalProperties:
            type: integer
        byCategory:
          type: object
          additionalProperties:
            type: integer
        approvalRate:
          type: number
          format: float
        averageProcessingDays:
          type: number
          format: float

    # Common
    Page:
      type: object
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
        size:
          type: integer
        number:
          type: integer
        first:
          type: boolean
        last:
          type: boolean

    ProblemDetail:
      type: object
      description: RFC 7807 Problem Details
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
          format: uri
        timestamp:
          type: string
          format: date-time
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string

  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'

    Unauthorized:
      description: Authentication required
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'

    Forbidden:
      description: Insufficient permissions
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'

    NotFound:
      description: Resource not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'

    Conflict:
      description: Resource conflict (e.g., concurrent modification)
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'

    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds until rate limit resets

security:
  - bearerAuth: []

